.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing:border-box
}

html, body, section.section {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

div.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%
}

h1.home-title {
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin:0
}

div.home-links {
    display: flex;
    gap: 2em;
    justify-content:center
}
