.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  box-sizing: border-box;
}

/* Readable blog look */
html {
  font-size: 19px;
  color: #333;
  background-color: #fbfbfb;
}
body {
  line-height: 1.4;
}
h1, h2, h3 {
  line-height: 1.1
}

/* Notes */
h1.title {
  font-size: 3rem;
  margin-bottom: 0;
}
p.subtitle {
  margin-bottom: 3rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

/* Code blocks */
code {
  font-size: 0.8rem;
}
pre {
  padding: 1rem;
  font-size: 0.8rem;
  overflow: auto;
  border: 1px solid black;
}
pre table {
  width: 100%;
  border-collapse: collapse;
}
pre[data-name] {
  position: relative;
  padding-top: 2.5rem;
}
pre[data-name]::before {
  content: attr(data-name);
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  padding: 0.2rem 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

/* Don't make headers look like links */
a.zola-anchor {
  color: black;
  text-decoration: none;
}
a.zola-anchor:hover {
  text-decoration: underline;
}
